.container {
    margin: 0 auto;
    max-width: 600px;
  }
  
  .title {
    text-align: center;
  }
  
.btn {
  align-items: center;
  align-content: space-around;
  text-align: right;
}

.form{
  color: blueviolet;
}